body{
    background-color: darkgreen;
    font-family: 'Segoe UI', sans-serif;
}

#menu{
    display: inline;
    padding-left: 45px;
}

#menu a{
    color: black;
    text-decoration: none;
}

hr{
    height: 4px;
    background-color: black;
    color: black;
    border-color: black;
} 

.price-table{
    font-family: Arial, sans-serif;
    width: 90%;
    text-align: center;
}

.price-table, th, td{
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}

.price-table tbody tr:hover{
    background-color: darkolivegreen;
}

#menu a:hover {
    background-color: darkolivegreen;

}
#menu a:focus {
    background-color: darkolivegreen;
    outline: none;
}

.footer-container{
    display: flex;
}

.footer-section{
    margin-left: 30px;
}

.footer-section a{
    color: black;
}
