body{
    background-color: darkgreen;
    font-family: 'Segoe UI', sans-serif;
}

#menu{
    display: inline;
    padding-left: 45px;
}

#menu a{
    color: black;
    text-decoration: none;
}

hr{
    height: 4px;
    background-color: black;
    color: black;
} 

#menu a:hover {
    background-color: darkolivegreen;

}
#menu a:focus {
    background-color: darkolivegreen;
    outline: none;
}

.footer-container{
    display: flex;
}

.footer-section{
    margin-left: 30px;
}

.footer-section a{
    color: black;
}
