body{
    background-color: darkgreen;
}

#menu{
    display: inline;
    padding-left: 45px;
    text-decoration: none;
}

#menu a{
    color: black;
}

hr{
    height: 4px;
    background-color: black;
    color: black;
}

#text-block{
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: green;
    padding-left: 50%;
    font-size: larger;
    margin-top: 45px;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  padding-top: 40px;
}

.image-grid img {
  width: 100%;
  height: 400px; 
  object-fit: cover; 
}

#menu a:hover {
    background-color: darkolivegreen;

}
#menu a:focus {
    background-color: darkolivegreen;
    outline: none;
}

.footer-container{
    display: flex;
}

.footer-section{
    margin-left: 30px;
}

.footer-section a{
    color: black;
}

/*testing block*/
.lng{
    position: relative;
    margin-top: 45px;
}

.lng:hover .lng__list-wrapper{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.lng__list-wrapper{
    position: absolute;
    top: 100%;
    left: 34%;
    transform: translate(-50%, 15px);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.lng__list a{
    width: 100%;
    background-color: darkgreen;
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}

.lng__list a:hover{
    background-color: darkolivegreen;
    transition: all .2s ease;
}

.lng__list a:focus{
    background-color: darkolivegreen;
    outline: none;
}
/*testing block*/
